<div>
    <table>
        <tr>
            <td><label>CardNumber</label></td>
            <td>:</td>
            <td></td>
        </tr>
        <tr>
            <td><label></label></td>
            <td>:</td>
            <td></td>
        </tr>
        <tr>
            <td><label></label></td>
            <td>:</td>
            <td></td>
        </tr>
        <tr>
            <td><label>PinNumber</label></td>
            <td>:</td>
            <td></td>
        </tr>
    </table>
    <div>
        <input type="button" id="btnBack"  value="Back" />
    </div>
</div>
