<div>
    <table class="table table-hover table-bordered">
        <thead>
            <th>Account Number</th>
            <th>Transaction ID</th>
            <th>Credited</th>
            <th>Debited</th>
            <th>Transaction Time</th>
            <th>Balance</th>
        </thead>
       <tbody>
           <tr *ngFor="let Transaction of transaction">
               <td>{{Transaction.accountNumber}}</td>
               <td>{{Transaction.transactionId}}</td>
               <td>{{Transaction.credited}}</td>
               <td>{{Transaction.debited}}</td>
               <td>{{Transaction.transactionTime}}</td>
               <td>{{Transaction.balance}}</td>
           </tr>
       </tbody>
    </table>
</div>