<h1>Login Page</h1>
<div>
    <form>
        <table>
            <tr>
                <td><label>UserName</label></td>
                <td>:</td>
                <td><input type="text" id="txtUserName" /></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td>:</td>
                <td><input type="password" id="txtPassword" /></td>
            </tr>
            
        </table>
        <div>
            <input type="button" id="btnLogin" routerLink="/navbar" routerLinkActive="active" value="Login" />
            <input type="reset" value="Reset" /><br/>
            <a href="#">Forgot Password?</a>
            <a href="#">Register </a>
        </div>
    </form>
</div>