body{
    background-color: rgb(211, 205, 205);
  
}
#divleft{
    margin-left: 260px;
    float: left;
    width: 35%;
    margin-top: 80px;
  
}


#divri{
    
    padding-top: 80px;
}
#buttonn{
    margin-top: 70px;
    margin-left: 580px;

}
table{
    margin-top: 0px;
}
#btnReset{
    color: rgb(0, 0, 0);
}
#btnReset{
    margin-left: 50px;
}
#h11{
    padding-top: 40px;
    margin-left: 600px;
   
   
}

.mat-option {
  padding-left: 20px;
  background-color:aqua;
}

.mat-option:hover {
  padding-left: 25px;
  background-color:aquamarine;
}

.mat-select {
  padding-left: 20px;
  background-color:snow;
}
