<div>
    <label>AccountNumber : </label>
    <input type="text" id="txtAccountNumberCheck" placeholder="Enter Account Number" />
    <input type="button" id="btnCheck" value="View"/>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <th>AccountNumber</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>AccountType</th>
            <th>CardNumber</th>
            <th>PinNumber</th>
            <th>Balance</th>
        </thead>
        <tbody >
            <tr *ngFor="let customer of customers">
                <td>{{customer.accountNumber}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.contact}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.accountType}}</td>
                <td>{{customer.cardNumber}}</td>
                <td>{{customer.pinNumber}}</td>
                <td>{{customer.balance}}</td>

                <td><input type="button" id="btnView" value="View"/> </td>
                <td><input type="button" id="btnTransactiom" value="Transaction"/> </td>
                <td><input type="button" id="btnDelete" value="Delete"/> </td>
            </tr>
        </tbody>
    </table>
    
       
</div>