<div>
    <label>AccountNumber : </label>
    <input type="text" id="txtAccountNumberCheck" placeholder="Enter Account Number" />
    <input type="button" id="btnCheck" value="View"/>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <th>AccountNumber</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>AccountType</th>
            <th>CardNumber</th>
            <th>PinNumber</th>
            <th>Balance</th>
        </thead>
        <tbody >
            <tr *ngFor="let customer of customers">
                <td>{{customer.AccountNumber}}</td>
                <td>{{customer.Name}}</td>
                <td>{{customer.Contact}}</td>
                <td>{{customer.Email}}</td>
                <td>{{customer.Address}}</td>
                <td>{{customer.City}}</td>
                <td>{{customer.AccountType}}</td>
                <td>{{customer.CardNumber}}</td>
                <td>{{customer.PinNumber}}</td>
                <td>{{customer.Balance}}</td>
                <td><input type="button" id="btnView" value="View"/> </td>
            </tr>
        </tbody>
    </table>
</div>